<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Bem vindo a área de perfil!</h1>

    <% if (nome) { %>
        <p><%= nome %>, faça o login para acessar o seu perfil!</p>
    <% }else{ %>
        <p>Nome não identificado, faça já o seu cadastro!</p>
    <% } %>   

<%- include ('partials/footer.ejs') %>