<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Bem vindo a área de perfil!</h1>

    <% if (nome) { %>
        <p><%= nome %>, faça o login para acessar o seu perfil!</p>
    <% }else{ %>
        <p>Nome não identificado, faça já o seu cadastro!</p>
    <% } %>   
</body>
</html>